.vimrc
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-stamp
config.cache
config.h
config.h.in
config.log
config.status
configure
configure-stamp
depcomp
install-sh
libtool
missing
mkinstalldirs
stamp-*
