*.bce
*.bcp
*.opt
*.plg
.vimrc
debug*
quake2
release*
tags
*.libs
Makefile
Makefile.in
config.h
config.log
configure
config.status
install-sh
missing
mkinstalldirs
stamp-h
stamp-h.in
client
ctf
game
linux
qcommons
ref_*
server
unix
